 <h2> Sign up </h2>

<%= form_for @user do |f| %>

<% if @user.errors.any? %>
<div class="error_messages">
  <h3>Form is invalid</h3>
  <ul>
    <% for message in @user.errors.full_messages %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>

<% end %>

<div class="form_field">
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>

<div class="form_field">
  <%= f.label :current_city %>
  <%= f.text_field :city %>
</div>

<div class="form_field">
  <%= f.label :current_country %>
  <%= f.text_field :country %>
</div>

<div class="form_field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="form_field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>

<div class="form_actions"><%= f.submit %></div>
<% end %>

<%= link_to 'Back to Users', users_path %>