<h2> User <%= @user.id %> </h2>

<p>
  <strong>Name: </strong>
  <%= @user.name %>
</p> 

<p>
  <strong>City: </strong>
  <%= @user.city %>
</p> 
<p>
  <strong>Country: </strong>
  <%= @user.country %>
</p>

<!-- <p>
  <strong>Latitude: </strong>
  <%= @user.latitude %>
</p>
<p>
  <strong>Longitude: </strong>
  <%= @user.longitude %>
</p>
 -->
<p>
  <strong>Profile: </strong>
  <%= @user.description %>
</p>


<p>
  <strong>Image: </strong>
  <img src="<%#= @user.image_url %>" > 
</p>




<p>
  <%= link_to "Edit", edit_user_path %>
  <%= link_to 'Delete', user_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  
</p>




