<!-- 
<%= button_tag "Find Sounds Near Me", id: "current_location" %>

 -->
 <hr>


<div id="map-canvas"></div>


<hr>
Explore Sounds:

<section id="sound-list">

  <%= render @sounds %>

</section>


<%= javascript_tag do %>
window.latitude = <%= @sounds.first.latitude.to_f %>;
window.longitude = <%= @sounds.first.longitude.to_f %>;
window.showMarker = true;


<% end %>

