<h1>Sounds</h1>

<%= button_tag "Find Sounds Near Me", id: "current_location" %>



<p>Sounds Near You</p>


<div id="sounds-near-user"> 
</div>
<br>

<div id="map-canvas"></div>
 

<hr>
<p>All Sounds</p>

<section id="sound-list">

  <%= render @sounds %>

</section>


<%= javascript_tag do %>
  window.latitude = <%= @sounds.first.latitude.to_f %>;
  window.longitude = <%= @sounds.first.longitude.to_f %>;
  window.showMarker = true;


<% end %>

