<h2> <%= @sound.name %> </h2>

<p>
  <strong>Email: </strong>
  <%= @sound.description %>
</p>

<p>
  <strong>Latitude: </strong>
  <%= @sound.latitude %>
</p>
<p>
  <strong>Longitude: </strong>
  <%= @sound.longitude %>
</p>


<div>
  <audio src="<%= @sound.sound_url %>" id="demo"></audio>
  <button onclick="document.getElementById('demo').play()">Play the Audio</button>
  <button onclick="document.getElementById('demo').pause()">Pause the Audio</button>
  <button onclick="document.getElementById('demo').volume+=0.1">Increase Volume</button>
  <button onclick="document.getElementById('demo').volume-=0.1">Decrease Volume</button>
</div>

<div id="map-canvas">
  
</div>


<p>
  <%= link_to "Edit", edit_sound_path %>
  <%= link_to 'Delete', sound_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  
</p>



<% if @nearby_sounds.present? %>
  <h2>Nearby Sounds</h2>
  <ul>
  <% @nearby_sounds.each do |ns| %>
    <li><%= "#{ns.name}, #{ns.distance}" %></li>
  <% end %>
  </ul>
<% end %>



<%= javascript_tag do %>
  window.latitude = <%= @sound.latitude.to_f %>;
  window.longitude = <%= @sound.longitude.to_f %>;
  window.showMarker = true;

   window.coords = <%= raw @nearby_sounds.map {|r| {latitude: r.latitude.to_f, longitude: r.longitude.to_f}}.to_json %>

<% end %>

