<!DOCTYPE html>
<html>
<head>
  <title>Echoes</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api}&sensor=false" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <header>
<!--     <h1>Echoes</h1>
 -->    <ul class="navigation">
      <li><a href="<%= sounds_path(latitude: @user_geo_lat, longitude: @user_geo_long) %>">Find Nearby Sounds</a></li>      
      <li><a href="<%= new_sound_path %>">Upload</a></li>      
      <% if current_user %>
      <li><%= link_to "View Profile", user_path(current_user.id) %></li> 
      <li><%= link_to "Logout", :logout, method: :post %></li>
      <%  else %>
      <li><%= link_to "Sign Up", new_user_path %> </li>
      <li><%= link_to "Login", :login %> </li>
      <% end %>
    </ul>
  </header>


  <%= yield %>

  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

</body>
</html>


<footer>

    Copyright 2014. An All About Drama design.

</footer>


</html>



