<!DOCTYPE html>
<html>
<head>
  <title>SupportMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <header>

    <div id="login">
          <h1>Echoes</h1>

      <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "View Profile", user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :post %>
      <% else %>

     <% end %>

    </div>

  </header>

<ul class="navigation">
  <li><a href="#">Home</a></li>
  <li><a href="#">Search</a></li>
  <li><a href="#">Sign Up - Login</a></li>
</ul>


<!-- 
  <nav>
    <ul class="navigation">
      <li>
        <%= link_to "Home", users_path %>
        <ul>
          <li><a href="" target="_blank">Item 1</a></li>
          <li><a href="" target="_blank">Item 2</a></li>
        </ul>
      </li>
      <li>
        <a href="" target="_blank">Menu</a>
        <ul>
          <li><a href="" target="_blank"></a></li>
          <li><a href="" target="_blank">Item 2</a></li>
          <li><a href="" target="_blank">Item 3</a></li>

        </ul>
      </li>
      <li>
        <a href="" target="_blank">Signup - Login</a>
        <ul>
          <li> <%= link_to "Sign Up", new_user_path %> </li>
          <li> <%= link_to "Login", :login %> </li>

        </ul>
      </li>
    </ul>
  </nav>
 -->




  <%= yield %>

  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  
</body>
</html>


<footer>
  <p>
    Copyright 2014. An All About Drama design.
  </p>
</footer>


</html>




